.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #24004C;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; /* Space between links */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #24004C;
    font-weight: bold;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  